<section>

    <div class="container text-center py-5">

        <h2>Comments</h2>

        <div class="invitation-comments">
            {% partial 'RSVP::comments' %}
        </div>

    </div>

</section>

{% put scripts %}

<script type="text/javascript">
	$('body').on('keyup', '.invitation-comments textarea', function(e) {
		if ($(this).val().length > 0) {
			$('.invitation-comments button').removeAttr('disabled').show();
		} else {
			$('.invitation-comments button').attr('disabled', true);
		}
	});
</script>
{% endput %}
