<section style="background: #FFF7F7; overflow: hidden">

    <div data-aos="zoom-out-down">
        <img src="{{ 'assets/images/flowers-full.png'|theme }}" alt="" class="img-fluid w-100">
    </div>

    <div class="container text-center py-5">

        {% if guest %}
        <p class="lead text-primary" style="font-size: 22px;">Dear <strong style="font-weight: 600">{{ guest.name }}</strong>,</p>
        <p class="lead">You are invited to our wedding party!</p>
        <div>
            <img src="{{ 'assets/images/flower-single.png'|theme }}" alt="" class="img-fluid my-4" data-aos="zoom-in">
        </div>
        {% endif %}

        <div class="row justify-content-center mb-5">
            <div class="col-md-10 col-lg-8" data-aos="fade-up">
                <p class="line-height-silver"><em>“Dan di antara tanda-tanda kekuasaan-Nya ialah Dia menciptakan untukmu isteri-isteri dari jenismu sendiri, supaya kamu cenderung dan merasa tenteram kepadanya, dan dijadikan-Nya diantaramu rasa kasih dan sayang. Sesungguhnya pada yang demikian itu benar-benar terdapat tanda-tanda bagi kaum yang berfikir.” (QS Ar Rum: 21)</em></p>
            </div>
        </div>

        <div class="row text-center align-items-center" data-aos="fade-up">

            <div class="col my-3">
                {# <img src="//placehold.it/300x300" alt="" class="rounded-circle mb-4"> #}
                <h3>
                    <a href="https://instagram.com/{{ tenant.bride_instagram }}" target="_blank">{{ tenant.bride_name|default('Bride Name') }}</a>
                </h3>
                {% if tenant.bride_description %}
                <p>{{ tenant.bride_description }}</p>
                {% endif %}
                {% if tenant.bride_instagram %}
                <p><a href="https://instagram.com/{{ tenant.bride_instagram }}" target="_blank"><i class="fa fa-instagram fa-fw"></i> @{{ tenant.bride_instagram }}</a></p>
                {% endif %}
            </div>
            <div class="col-md-1 d-flex align-items-center justify-content-center text-primary" style="font-size: 4rem;">&</div>
            <div class="col my-3">
                {# <img src="//placehold.it/300x300" alt="" class="rounded-circle mb-4"> #}
                <h3>
                    <a href="https://instagram.com/{{ tenant.groom_instagram }}" target="_blank">{{ tenant.groom_name|default('Groom Name') }}</a>
                </h3>
                {% if tenant.groom_description %}
                <p>{{ tenant.groom_description }}</p>
                {% endif %}
                {% if tenant.groom_instagram %}
                <p><a href="https://instagram.com/{{ tenant.groom_instagram }}" target="_blank"><i class="fa fa-instagram fa-fw"></i> @{{ tenant.groom_instagram }}</a></p>
                {% endif %}
            </div>
        </div>

    </div>

    <div data-aos="zoom-out-up">
        <img src="{{ 'assets/images/flowers-full.png'|theme }}" alt="" class="img-fluid w-100" style="transform: scaleY(-1)">
    </div>

</section>
