<section style="background: #FFF7F7">

    <div class="container text-center py-5">

        <img src="{{ 'assets/images/heading-decor.svg'|theme }}" alt="" class="img-fluid">
        <h2 class="text-primary my-3">Wedding Events</h2>
        <img src="{{ 'assets/images/heading-decor.svg'|theme }}" alt="" class="img-fluid flip-y">

        <p class="my-4">{{ wedding_details }}</p>

        <div class="row">
            <div class="col-md-1 d-none d-md-flex align-items-center justify-content-center" data-aos="fade-right">
                <img src="{{ 'assets/images/side-decor.svg'|theme }}" alt="">
            </div>

            <div class="col">

                <div class="event-row row no-gutters my-5 d-relative">
                    <div class="event-image col-sm-8 col-md-7 bg-dark" style="background-image: url({{ 'assets/images/event-venue.jpg'|theme }}); background-position: left center; background-size:cover" data-aos="fade-up" data-aos-delay="300">
                    </div>
                    <div class="event-body col-sm-10 col-md-8 col-lg-6 bg-white my-sm-5 p-5 text-left" data-aos="fade-up">
                        <h3 class="text-primary">Wedding Ceremony</h3>
                        <hr class="w-25 ml-0 my-4">
                        <ul class="list-unstyled mb-3">
                            <li class="media mb-3">
                                <i class="fa fa-fw fa-calendar fa-2x mr-3"></i>
                                <div class="media-body">
                                        <strong>{{ tenant.wedding_time_start|date('l') }}, {{ tenant.wedding_time_start|date('F j') }}<sup>{{ tenant.wedding_time_start|date('S') }}</sup> {{ tenant.wedding_time_start|date('Y') }}</strong><br>
                                        <span>{{ tenant.wedding_time_start|date('H:i') }} &mdash; {{ tenant.wedding_time_end|date('H:i') }} WIB</span>
                                </div>
                            </li>
                            <li class="media mb-3">
                                <i class="fa fa-fw fa-map-marker fa-2x mr-3"></i>
                                <div class="media-body">
                                    <strong>{{ tenant.wedding_location_name|default('Location Name') }}</strong><br>
                                    {{ tenant.wedding_location_address|default('Address...') }}
                                </div>
                            </li>
                            <li class="media mb-3">
                                <i class="fa fa-fw fa-black-tie fa-2x mr-3"></i>
                                <div class="media-body mt-1">
                                    Dress Code: <strong>Putih</strong>
                                </div>
                            </li>
                        </ul>

                        <a href="https://goo.gl/maps/8vCVwt2Ynbu" class="btn btn-outline-primary" target="_blank">View Map</a>

                        <img src="{{ 'assets/images/flower-corner.png'|theme }}" alt="" class="position-absolute corner-bottom-right">
                    </div>
                </div>

            </div>

            <div class="col-md-1 d-none d-md-flex align-items-center justify-content-center" data-aos="fade-left">
                <img src="{{ 'assets/images/side-decor.svg'|theme }}" alt="" class="flip-x">
            </div>
        </div>

    </div>

</section>
