<section class="bg-light">

    <div class="container text-center py-5">

        <h3>Dear {{ guest.name }}</h3>

        <p class="lead">You are invited to our wedding party!</p>

    </div>

</section>
