<section class="hero d-flex align-items-center" style="background-image: url({{ 'assets/images/viyat-hero.jpg'|theme }}); background-position-x: 27%;" data-stellar-background-ratio="0.5">
    <div class="container text-center text-md-right position-relative">
        <p class="lead" data-aos="fade-up">The Wedding of</p>
        <h1 data-aos="fade-up" data-aos-delay="300">{{ tenant.title }}</h1>
        <p class="lead" data-aos="fade-up" data-aos-delay="600">{{ tenant.wedding_date|date('j F Y') }}</p>
    </div>
</section>

{% put scripts %}
<script>
    $(function() {
        $.stellar({
            horizontalScrolling: false,
            verticalOffset: 100,
        });
    });
</script>
{% endput %}