<section class="bg-dark">
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDXPMRd-noLNqpm3PvahPflXlhcbnr56Yw'></script>
    <div style='overflow:hidden;height:440px;width:100%;'>
        <div id='gmap_canvas' style='height:440px;width:100%;'></div>
    </div>
    <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>

    <script type='text/javascript'>
        function init_map() {
            var myOptions = {
                zoom: 16,
                center: new google.maps.LatLng(-8.4813978,117.41371400000003),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
            marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-8.4813978,117.41371400000003)});
            infowindow = new google.maps.InfoWindow({content:'<strong>GOR Mampis Rungan</strong><br>Jalan Cendrawasih, Brang Biji,<br>Sumbawa Besar, Nusa Tenggara Barat'});
            google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);
            });
            infowindow.open(map,marker);
        }
        google.maps.event.addDomListener(window, 'load', init_map);
    </script>
</section>
