<section>

    <div class="container text-center my-5 py-5 position-relative">

        <div class="d-none d-md-block">
            <img src="{{ 'assets/images/corner-decor.png'|theme }}" alt="" class="position-absolute corner-top-left">
            <img src="{{ 'assets/images/corner-decor.png'|theme }}" alt="" class="position-absolute corner-top-right flip-x">
            <img src="{{ 'assets/images/corner-decor.png'|theme }}" alt="" class="position-absolute corner-bottom-left flip-y">
            <img src="{{ 'assets/images/corner-decor.png'|theme }}" alt="" class="position-absolute corner-bottom-right flip-xy">
        </div>
{# 
        <img src="{{ 'assets/images/heading-decor.svg'|theme }}" alt="" class="img-fluid">
        <h2 class="text-primary my-3">Engagement Day</h2>
        <img src="{{ 'assets/images/heading-decor.svg'|theme }}" alt="" class="img-fluid flip-y">
        #}

        <div>
            <img src="{{ 'assets/images/flower-single.png'|theme }}" alt="" class="img-fluid my-4" data-aos="zoom-in">
        </div>

        <div class="mt-5 row justify-content-center" data-aos="fade-up">
            <div class="col col-md-8 col-xl-7">
                <div style="position: relative; padding-bottom: 56.25%; height: 0;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/yVSqJtmooJY?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen style="position: absolute; top: 0; left:0; width: 100%; height: 100%;"></iframe>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-10">
                {# <div class="row py-3">
                    <div class="col-md py-3">
                        <img src="//placehold.it/600x600" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-1 d-none d-lg-block"></div>
                    <div class="col-md text-left py-3 align-items-center d-flex">
                        <div>
                            <h2 class="text-primary">First Met</h2>
                            <p>London, UK</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor. Fermentum tincidunt metus, etiam ut ultrices nibh. Etiam aliquam mauris.</p>
                        </div>
                    </div>
                </div>

                <div class="row py-3">
                    <div class="col-md order-md-12 py-3">
                        <img src="//placehold.it/600x600" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-1 d-none d-lg-block order-2"></div>
                    <div class="col-md text-left order-md-1 py-3 align-items-center d-flex">
                        <div>
                            <h2 class="text-primary">First Met</h2>
                            <p>London, UK</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor. Fermentum tincidunt metus, etiam ut ultrices nibh. Etiam aliquam mauris.</p>
                        </div>
                    </div>
                </div>

                <div class="row py-3">
                    <div class="col-md py-3">
                        <img src="//placehold.it/600x600" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-1 d-none d-lg-block"></div>
                    <div class="col-md text-left py-3 align-items-center d-flex">
                        <div>
                            
                            <p>London, UK</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor. Fermentum tincidunt metus, etiam ut ultrices nibh. Etiam aliquam mauris.</p>
                        </div>
                    </div>
                </div> #}
            </div>
        </div>

        <img src="{{ 'assets/images/bottom-decor.png'|theme }}" alt="" class="mt-5">
    </div>

</section>
