//
// Load all required stylesheets
//

@import '_all';

//
// Your app styles
//


body {
    line-height: 1.7;
    padding-top: 56px;
}

.line-height-silver {
    line-height: 2.2;
}

.flip-x {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.flip-y {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.flip-xy {
    -webkit-transform: scale(-1);
    transform: scale(-1);
}

.corner-top-left {
    top: 0;
    left: 0;
}

.corner-top-right {
    top: 0;
    right: 0;
}

.corner-bottom-left {
    bottom: 0;
    left: 0;
}

.corner-bottom-right {
    bottom: 0;
    right: 0;
}

hr {
    border-color: theme-color('primary');
}

.event-row {

}

.event-image {
    min-height: 200px;
}

.event-body {

    @include media-breakpoint-up(sm) {
        margin-left: -50%;
    }
    @include media-breakpoint-up(md) {
        margin-left: -25%;
    }
    @include media-breakpoint-up(lg) {
        margin-left: -8.3333%;
    }

}

.event-row-reversed .event-body {
    margin-left: 0;

    @include media-breakpoint-up(sm) {
        margin-right: -50%;
    }
    @include media-breakpoint-up(md) {
        margin-right: -25%;
    }
    @include media-breakpoint-up(lg) {
        margin-right: -8.3333%;
    }

}
