//
// Hero
//

.hero {
    background-color: $gray-600;
    margin-top: -60px;
    background-size: cover !important;
    position: relative;
    min-height: 300px;
    height: 600px;
    max-height: 100vh;
    color: $white;
    background-position: center center;
    background-repeat: no-repeat;
    text-shadow: 0 0 30px rgba(#000, 0.8);

    &:before {
        content: " ";
        position:absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(rgba(#000, 0.3), rgba(#000, 0.6));
        background: -o-linear-gradient(rgba(#000, 0.3), rgba(#000, 0.6));
        background: -moz-linear-gradient(rgba(#000, 0.3), rgba(#000, 0.6));
        background: linear-gradient(rgba(#000, 0.3), rgba(#000, 0.6));

        @include media-breakpoint-up(md) {
            background: -webkit-linear-gradient(rgba(#000, 0.1), rgba(#000, 0.3));
            background: -o-linear-gradient(rgba(#000, 0.1), rgba(#000, 0.3));
            background: -moz-linear-gradient(rgba(#000, 0.1), rgba(#000, 0.3));
            background: linear-gradient(rgba(#000, 0.1), rgba(#000, 0.3));
        }
    }

    &.noshade {
        &:before {
            display: none;
        }
    }

    a, a:link, a:active {
        color: #fff;
    }

    .content-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

    }

    .content-center {
        position: absolute;
        bottom: 50%;
        left: 0;
        width: 100%;
    }
}
