description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'head' %}

        {% styles %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% page %}

        {% partial 'footer' %}

        <script src="{{ [
            '@jquery',
            '@framework',
            '@framework.extras',

            '~/node_modules/popper.js/dist/umd/popper.min.js',

            '~/node_modules/bootstrap/js/dist/util.js',
            '~/node_modules/bootstrap/js/dist/alert.js',
            '~/node_modules/bootstrap/js/dist/button.js',
            '~/node_modules/bootstrap/js/dist/carousel.js',
            '~/node_modules/bootstrap/js/dist/collapse.js',
            '~/node_modules/bootstrap/js/dist/dropdown.js',
            '~/node_modules/bootstrap/js/dist/modal.js',
            '~/node_modules/bootstrap/js/dist/scrollspy.js',
            '~/node_modules/bootstrap/js/dist/tab.js',
            '~/node_modules/bootstrap/js/dist/tooltip.js',
            '~/node_modules/bootstrap/js/dist/popover.js',

            '~/node_modules/fastclick/lib/fastclick.js',
            '~/node_modules/jquery.stellar/jquery.stellar.js',
            '~/node_modules/aos/dist/aos.js',
            '~/node_modules/countdown/dist/countdown.js',

            'assets/js/app.js']|theme }}"></script>

        {% scripts %}

        {% partial 'flash' %}

    </body>
</html>
